h1,h2,h3 {
    padding-top: 6px;
  }
  
  h1 {
    font-size: 32px;
  }
  
  
  h2 {
    font-size: 16px;
 
  }
  
  h3 {
    font-size: 16px;
    font-style: italic;
  }
  
  ul {
    list-style-type: none;
    padding-inline-start: 20px;
  }
  
  p {
    font-size: 16px;
    padding-bottom: 6px;
  }
  
  #blurbs {
    padding-top: 20px;
  }
  
  #menu {
    /* background: rgb(250, 50, 200); */
    background: #ee3d2d ;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    /* border-bottom: 10px solid #0a2172; */
    border-bottom: 10px solid #d6c23f;

  }

  #menu-hi {
    /* background: #0a2172; */
    background: #d6c23f;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    /* border: 5px solid #0a2172;
    border-right: 5px solid #0a2172; */
    /* border-top: 5px solid #0a2172; */
  }
  
  
  #menu a:link {
    color: white;
  }
  
  #menu a:visited {
    color: white;
  }
  
  #menu-hi a:link {
    color: white;
  }
  
  #menu-hi a:visited {
    color: white;
  }

  a:link {
    color: rgb(250, 50, 200);
  }
  
  a:visited {
    color: rgb(250, 50, 200);
  
  }
  
 #footer{
  border-top:10px solid #d6c23f;
  background: #ee3d2d;
 }
  
  .social {
   overflow: auto;
   width: 100%;
   
   padding-top: 15px;
   padding-bottom: 15px;
   

   /*
   Un-comment and change below
   flow to 'right' to put social
   links on top of the picture.
   position: absolute;
   top: 20%;
   right: 1.5%;
   */
  }
  
  .social li {
   list-style-type: none;
   float: left;
   font-size: 24px;
  
  }
  
  ul li a i {
   background: rgb(250, 50, 200);
   color: white;
   width: 40px;
   height: 40px;
   font-size: 28px;
   text-align: center;
   margin-right: 5px;
   padding-top: 6px;
  
  
   /* color of social buttons */
   background: #d6c23f;
  }
  
  /*
    Uncomment to change colors of individual social buttons
  
  .fa-linkedin {
   background:#007bb6;
  }
  
  .fa-github {
    background:#000000;
  }
  
  .fa-envelope {
    background: #CC0000;
  }
  
  .fa-home {
    background: green;
  }
  
  .fa-location-arrow {
    background: #E6E600;
  }
  
  .fa-phone {
    background: green;
  }
  */

  
  .himage {
     position: relative;
     width: 100%; /* for IE 6 */
     padding: 0px;
     /* border: rgb(250, 50, 200) 10px solid; */
  }

  ::selection {
    background:  rgb(250, 50, 200);
  }
  

  